{% load static %}
<!DOCTYPE html>
<html lang="en">
    <!-- FIXME: This needs to be DTL-ified! -->
    <head>
        <meta charset="UTF-8" />
        <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="light dark" />
        <title>Django Dash</title>
        <script type="module" crossorigin src="{% static 'assets/index-c3b76db2.js' %}"></script>
        <link rel="stylesheet" href="{% static 'assets/index-e2c6a44d.css' %}">
    </head>

    <body class="bg-stone-600">
        <div id="app"></div>

    </body>
</html>
